---
---

@import "{{ site.theme }}";
.main-content {
    h1 {
	color: #F87D3F;
    }
    h2 {
	color: #174153;
    }
}

.page-header {
    background-color: #19547b;
    $header-bg-color-secondary: #ffd89b;
