---
---

@import "{{ site.theme }}";
.main-content {
    h1 {
	color: #F87D3F;
    }
    
    h2 {
	color: #174153;
    }
}

.page-header {
    background-color: #ffd194;
    background-image: linear-gradient(120deg, #19547b, #ffd194);
}

.btn {
    color: #F87D3F;
    border-color: #ffd194; 
}
