---
---

@import "{{ site.theme }}";
.main-content {
    h1 {
	color: #F87D3F;
    }
    
    h2 {
	color: #174153;
    }
}

.page-header {
    background-color: #ffd89b;
    backround-image: linear-gradient(120deg, #19547b, #ffd89b);
}
